*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.alfa{
    background-color: #1F2937;
    height: 560px;
    border: 0;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2{
    font-size: 24px;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    display: flex;
    height: 100px;
    width: 565px;
    margin-top: 5px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
    height: 100px;
    width: 500px;
    margin-top: 5px;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.under{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 460px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    margin: 6px 0px;
}

p{
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
    margin: 3px 0px;
}

.placeholder{
    background-color: rgb(115, 123, 138);
    padding: 115px 150px;
}

button{
    background-color: #3882F6;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: bolder;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    margin: 10px 0px;
}

/* Section 1 Complete */

.one{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.calltoaction{
    width: 200px;
    height: 200px;
    outline: 3px solid #3882F6;
    background-color: transparent;
}

.container{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.undertext{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 55px;
}

.bravo{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 560px;
}

.para{
    color: #1F2937;
    width: 170px;
}

/* Section 2 Complete */

.charlie{
    background-color: #E5E7EB;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertigo{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    width: 820px;
}

.two{

}

.simeon{
    color: #1F2937;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    width: 800px;
}

/* Section 3 Complete */

.delta{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agata{
    display: flex;
    background-color: #3882F6;
    width: 1100px;
    height: 170px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

h3{
    color: white;
    font-family: Roboto, sans-serif;
    margin: 5px 0px;
    font-size: 20px;
}

.butox{
    outline: 2px solid white;
}

.bandicoot{
    display: flex;
    flex-direction: column;
}

/* Section 4 Complete */

.echo{
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last{
    color: white;
}

/* Landing Page Structured */